.browse-container{
    height: 170vh;
    width: 100%;
    display: flow-root;
    position: relative;
}
.searchBar{
    display: flex;
    justify-content: center;
    padding: 50px 0;   
    gap: 15px;
}
.sch-field{
    max-width: 400px;
}
.sch-input{
    height: 50px;
}
.sch-button{
    height: 50px;
    width: 80px;
}

.album{
    padding: 20px;
    border-radius: 0;
}
.album-img{
    border-radius: 0;
}
.album-title{
    font-size: medium;
    margin-left: -15px;
}